* {
	margin: 0;
	padding: 0;
}

:root {
	--text-color: #ffffff;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	position: absolute;
	top: 0;
}

.header img {
	width: 40px;
	margin: 1em;
}

.search-wrapper {
	margin-bottom: 7vh;
	width: 30vw;
}

#searchbar {
	background: transparent;
	outline: 0;
	color: var(--text-color);
	padding-bottom: 3px;
	transition: 0.1s;
	width: inherit;
	border: 0;
	border-bottom: 2px solid grey;
	border-image:
		linear-gradient(
			to right,
			rgb(144,144,144,1),
			rgb(144,144,144,0)
		) 1;
	-webkit-transition: border 500ms ease-out;
	-moz-transition: border 500ms ease-out;
	-o-transition: border 500ms ease-out;
	transition: border 500ms ease-out;
}

#searchbar:placeholder-shown {
	font-size: 1vw;
}

#searchbar:focus {
	transition: 0.2s;
	border-width: 2px;
	border-bottom-style: solid;
	border-image:
		linear-gradient(
			to right,
			#12b886,
			rgba(0,0,0,0)
		) 1;
}

.cards-wrapper {
	display: flex;
	flex-direction: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: var(--text-color);
}

.card {
	height: 25vh;
	width: 12vw;
	margin: 0px 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 8px;
	border: 0;
	backdrop-filter: blur(3px);
}

.card legend {
	font-size: 1.6vw;
	font-weight: 650;
	margin-left: 0.8em;
}

.card ul li {
	list-style: none;
	font-size: 1vw;
	padding: 1em 0em 0em 1em;
}

.card a {
	text-decoration: none;
	color: var(--text-color);
}