* {
	margin: 0;
	padding: 0;
}

:root {
	--text-color: #ffffff;
	--secondary-color: #34cfa1;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	position: absolute;
	top: 0;
}

.icons {
	width: 40px;
	margin: 1em;
	cursor: pointer;
}

path:hover {
	fill: var(--secondary-color);
	transition: 0.3s;
}

.search-wrapper {
	margin-bottom: 7vh;
	width: 30vw;
	padding: 1rem 1.3rem;
	backdrop-filter: blur(5px);
	background-color: rgba(0,0,0,0.1);
	border-radius: 8px;
}

.searchbar {
	background: transparent;
	outline: 0;
	color: var(--text-color);
	padding-bottom: 3px;
	transition: 0.1s;
	width: inherit;
	border: 0;
	border-bottom: 2px solid grey;
	border-image:
		linear-gradient(
			to right,
			rgb(144,144,144,1),
			rgb(144,144,144,0)
		) 1;
}

.searchbar[type=text] {
	font-size: 1em;
}

.searchbar:placeholder-shown {
	font-size: 1em;
}

.searchbar:focus {
	transition: 0.2s;
	border-width: 2px;
	border-bottom-style: solid;
	border-image:
		linear-gradient(
			to right,
			var(--secondary-color),
			rgba(0,0,0,0)
		) 1;
}

.cards-wrapper {
	display: flex;
	flex-direction: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: var(--text-color);
}

.cards-wrapper>div {
	position: relative;
}

.card {
	height: 20.5vh;
	width: 12vw;
	margin: 0px 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 8px;
	border: 0;
	backdrop-filter: blur(3px);
	position: relative;
}

legend {
	font-size: 1.7em;
	font-weight: 650;
	margin-left: 0.5em;
	position: absolute;
	z-index: 99999;
	top: -15px;
}

.card ul {
	margin-top: 20px;
}

.card ul li {
	list-style: none;
	font-size: 1.1em;
	padding: 1em 0em 0em 1em;
}

.card a {
	text-decoration: none;
	color: var(--text-color);
}

.card a:hover{
	color: var(--secondary-color);
	transition: 0.3s;
}