
@font-face {
    font-family: Minecraftia;
    src: url(/old-style/assets/font/Minecraftia-Regular.ttf);
}

:root {
    /* --border-style: #7e8768 ridge 0.4rem; */
    --border-style: #9b371f ridge 0.4rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/old-style/assets/background.jpg);
    background-attachment: fixed;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Minecraftia;
}

/* Gets rids of scrollbar  */
::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: auto;
    background-color: #a0866f;
}

.header {
    border: var(--border-style);
    border-bottom: none;
}

.header span {
    font-size: 22px;
    padding-left: 5px;
}

.body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 100%;
}

.img-wrapper {
    width: 18vw;
    border: var(--border-style);
    border-right: none;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-content {
    border: var(--border-style);
    flex-grow: 1;
}

.phrase {
    border-bottom: var(--border-style);
}

.phrase span {
    font-size: 20px;
    padding-left: 5px;
}

.links-wrapper {
    text-align: center;
    margin-top: 6%;
}

.title-links {
    font-size: 22px;
}

.links {
    margin: 10px 0 25px 0;
}

.links a {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1000px) {
    .header span {
        font-size: 18px;
    }

    .phrase span {
        font-size: 16px;
    }

    .title-links {
        font-size: 18px;
    }

    .links a {
        font-size: 13px;
    }

    .content {
        height: auto;
    }
}